ReversePrintOrder := False
    ;Prints labels in the opposite order they're scanned
SkipFindProducts := False 
    ;If the "Find Products" window opens, does not select a SKU from that window. Prevents some wrong labels from being printed, but adds to the number of SKUs that need to be manually reviewed.